/*Styles for the home page*/
html,
body,
header,
.view {
  height: 100%;
  background-color: #eeeeee;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
  }
}

.top-nav-collapse {
  background-color: #00C851 !important;
}

.navbar:not(.top-nav-collapse) {
  height: 45px;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #78909c !important;
  }
}

h1 {
  letter-spacing: 8px;
}

h5 {
  letter-spacing: 3px;
}


.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
}

.kimonyoski {
    margin-top: 200px !important;
}

body{
  scroll-behavior: smooth;
}