{% extends 'layout.html' %}

{% block content %}
<!-- Main navigation -->
    <header>

        <!-- Full Page Intro -->
        <div class="view jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url('https://images.pexels.com/photos/2234783/pexels-photo-2234783.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
            <!-- Mask & flexbox options-->
            <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
                <!-- Content -->
                <div class="container">
                    <!--Grid row-->
                    <div class="row">
                        <!--Grid column-->
                        <div class="col-md-12 mb-4 white-text text-center">
                            <h1 class="h1-reponsive white-text text-uppercase font-weight-bold mb-0 pt-md-5 pt-5 animated fadeInDown slow" data-wow-delay="0.3s" ><strong>FLASK BLOG</strong></h1>
                            <hr class="hr-light my-4 animated fadeInDown slow" >

                             <h5 class="text-uppercase mb-4 white-text animated fadeInDown slower delay-1s" data-wow-delay="0.4s"><strong>Read & Blog</strong></h5>
                            <a class="btn btn-outline-white animated fadeInDown delay-2s slower" href="{{ url_for('main.home') }}" >VIEW</a>
                            <a class="btn btn-outline-white animated fadeInDown delay-2s slower" href="{{ url_for('main.new_post') }}">POST </a>
                        </div>
                        <!--Grid column-->
                    </div>
                    <!--Grid row-->
                </div>
                <!-- Content -->
            </div>
            <!-- Mask & flexbox options-->
        </div>
        <!-- Full Page Intro -->
    </header>


    <!-- Main navigation -->
{% endblock %}